body{
    background-image: url(fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
nav{
    background-color: #141a26ee;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: 2px solid gray;
} 
.portafolio{
    left: 10px;
    top: 10px;
    padding: 10px;
    color: gray;
    font-weight: bold;
    text-align: center; 
}
.boton-nav {
    position: absolute;
    right: 10px;
    background-color: #1A3C40;
    color: rgb(103, 103, 103);
    border-radius: 20px;
    padding:  8px 24px;
    text-decoration: none;
}
.boton-nav:hover{
    cursor: pointer;
    background-color:#255f66;
    font-weight: bold;
    color: rgb(196, 190, 190);
    transform: translateY(-2px);
}
h1{
    color: azure;
    text-align: center;
}
/* vamos a empezar con la primera tarjeta */
section{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    margin: 40px;
}
h2{
    color: gray;
}
.tarea1{
    position: relative;
    background-color: #141a26ee;
    border: 2px solid gray;
    color: rgb(212, 212, 212);
    border-radius: 10px;
    padding: 30px 50px;
    position: relative;
    transition: all 0.3s ease;
    min-width: 200px;
    min-height: 300px;
    max-width: 250px;
    max-height: 300px;
}
.tarea1:hover{
    box-shadow: 0 0 20px rgba(220, 220, 220, 0.8);
    transform: translateY(-5px);
}
.boton1{
    position: absolute;
    left: 20px;
    bottom: 20px;
    text-decoration: none;
    background-color: #1A3C40;
    color: rgb(103, 103, 103);
    border-radius: 20px;
    padding:  8px 24px;
}
.boton2{
    position: absolute;
    right: 20px;
    text-decoration: none;
    background-color: #1A3C40;
    color: rgb(103, 103, 103);
    border-radius: 20px;
    padding:  8px 24px;
    bottom: 20px;
}
.boton1:hover{
    cursor: pointer;
    background-color:#255f66;
    font-weight: bold;
    color: rgb(196, 190, 190);
    transform: translateY(-2px);
}
.boton2:hover{
    cursor: pointer;
    background-color:#255f66;
    font-weight: bold;
    color: rgb(196, 190, 190);
    transform: translateY(-2px);
}



